<header class="header">
    <button><a href="/">Página inicial</a></button>
    <button><a href="/cadastro">Cadastrar usuário</a></button>
    <button><a href="/usuariosCadastrados">Usuários Cadastrados</a></button>
     <button><a href="/pdf">PDF</a></button>
    <hr>
  </header>