<div class="tickets">
  <p>Ficha nยบ: {{idTicket}}</p>
  <p>{{marca}}</p>
  <p> {{modelo}}</p>
  <p>{{status}}</p>
  <a href="#"><button>ABRIR</button></a>
  <a href="#"><button>EXCLUIR</button></a>
</div>