{{!-- HEAD --}}
{{#if titleName}}
  <title>{{titleName}}</title>
{{/if}}

{{!-- BODY --}}
<body>
  <div class="menu">
    <div class="menu-btn">
      <section>
        <img class="btn-icon" src="https://cdn-icons-png.flaticon.com/512/1251/1251049.png" alt="user icon">
      </section>
       <section>
        <p>Cadastrar Cliente</p>
       </section>
    </div>
    
  </div>
</body>