{{!-- HEAD --}}
<title>Usuários Cadastrados</title>
{{!-- BODY --}}
<body>
  <div class="flex-container user-table">
    <div class="data-tabler">
      <div class="search-area">
        <input type="text" name="search" class="input search" placeholder="BUSCAR" disabled>
        <button class="search-button" disabled><img src="https://cdn-icons-png.flaticon.com/512/64/64673.png" class="search-img"></button>
      </div>
      <table class="table">
        <tr>
          <th>Código Cliente</th>
          <th>Nome</th>
          <th>Telefone</th>
        </tr>
{{#each dados}}
        <tr>
          <td>{{IdUsuario}}</td>
          <td><a href="/cadum/{{IdUsuario}}">{{nome}}</a></td>
          <td>{{telefone}}</td>
        </tr>
{{/each}}
      </table>
    </div>
  </div>
</body>